/*
-----------------------------------------------
Layout: Portfolio
-----------------------------------------------*/
.employees {}
/*post*/
.employees .post {margin-bottom: 20px;position: relative;}
.employees .post {margin-bottom: 20px;position: relative;}
.employees .post .title {color: {{ settings.global_headings_color }};font-weight: bold;margin: 0 0 5px 0;line-height: 20px;}
.employees .post .title a {color: {{ settings.global_headings_color }};font-size: 14px;font-weight: bold;text-decoration: none;}
.employees .post .image {border: 1px solid transparent;margin: 0 0 0 0;transition: opacity 0.15s ease 0s;}
.employees .post:hover .image {opacity: .75;}
.employees .post .image img {display: block;max-width: 100%;}
.employees .post .text {}
.employees .post a:hover {}
/*Single post*/
.employees #post {}  
.employees #post .title {font-weight: 400;font-family: Asap,'Lucida Grande',Helvetica,Arial,sans-serif;}
.employees #post .presentation {}
.employees #post .image {}
.employees #post .image img {}
.employees #post .price {font-family: Asap,'Lucida Grande',Helvetica,Arial,sans-serif;font-size: 24px;margin-bottom: 13px;}
.employees #post .price .ordinary-price {text-decoration: line-through;}
.employees #post .price .sale-price {}
.employees #post .details {}
.employees #post .text {float: left;margin-bottom: 15px;width: 100%;}
.employees #post .text p:last-child {margin-bottom: 0;}
.employees #post .terms {list-style: none;padding: 0;}
.employees #post .terms li {font-weight: normal;margin: 0 0 2px;text-transform: uppercase;}
.employees #post .terms li a {padding-left: 0;text-decoration: none;white-space: nowrap;}
.employees #post .terms li a:hover {text-decoration: underline;}
/*Related posts*/
.employees .related-posts__title {border-bottom: 1px solid {{ settings.global_general_border_color }};font-size: 20px;line-height: 28px;margin-bottom: 43px;padding-bottom: 30px;}
/*post images*/
.employees .post-images {margin-bottom:10px;}
.employees .post-images h3 {margin: 0 0 10px 0;padding: 0;}
.employees .post-images ul {list-style:none;margin:0;padding:0;}
.employees .post-images li {margin-bottom: 15px;}
.employees .post-images a {outline:none}
.employees .post-images img {border: 1px solid #DDD;}
/*Browse tags*/
.employees .browse-categories {float: right;margin-top: 8px;}
.employees .browse-categories label {float: left;line-height: 29px;margin: 0 10px 0 0;}
.employees .browse-categories select {float: left;width: auto;}
/*Filter tags*/
.employees .filter-tags {display:none;clear:both;}
/*Terms*/
.employees .terms {float: left;margin: 0 0 15px 0;}